.email {
    fill: url(#fill1);
}
.email:hover {
    width: 105%;
    height: auto;
}

.github {
    fill: url(#fill2);
}
.github:hover {
    width: 105%;
    height: auto;
}

.playstore {
    fill: url(#fill3);
}
.playstore:hover {
    width: 105%;
    height: auto;
}

.youtube {
    fill: url(#fill4);
}
.youtube:hover {
    width: 105%;
    height: auto;
}

.fiverr {
    fill: url(#fill5);
}
.fiverr:hover {
    width: 105%;
    height: auto;
}

.githubsponsor {
    fill: url(#fill6);
}
.githubsponsor:hover {
    width: 105%;
    height: auto;
}

.buymeacoffee {
    fill: url(#fill7);
}
.buymeacoffee:hover {
    width: 105%;
    height: auto;
}

.paypal {
    fill: url(#fill8);
}
.paypal:hover {
    width: 105%;
    height: auto;
}

.kofi {
    fill: url(#fill9);
}
.kofi:hover {
    width: 105%;
    height: auto;
}

.patreon {
    fill: url(#fill10);
}
.patreon:hover {
    width: 105%;
    height: auto;
}

